body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
    padding: 50px;
}

h1 {
    color: black;
    margin-bottom: 20px;
    font-size: 36px;
}
button, .special-button {
    will-change: transform, opacity; /* 提前告訴瀏覽器動畫屬性 */
}

/* 按鈕組的間距設定 */
.button-group {
    display: flex;
    flex-direction: column; /* 垂直排列 */
    gap: 20px; /* 按鈕間距 */
}

/* 保持現有樣式不變 */
button {
    padding: 1em 2.5em;
    border: 2px solid #013a63;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #013a63;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

button::before {
    content: '';
    width: 0;
    height: 500%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #013a63;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

button:hover::before {
    width: 130%;
}

button:hover {
    color: #ffffff;
}

/* 為 "程式回傳登記" 按鈕設置特殊顏色 */
.special-button {
    color: #14746f; /* 更改文字顏色 */
    border-color: #14746f; /* 更改邊框顏色 */
}

.special-button:hover {
    color: #ffffff; /* 懸停時文字顏色 */
}

.special-button::before {
    background: #14746f; /* 更改背景顏色 */
}

/* 為 "測試" 按鈕設置特殊顏色 */
.test-button {
    color: red; /* 更改文字顏色 */
    border-color: red; /* 更改邊框顏色 */
}

.test-button:hover {
    color: #ffffff; /* 懸停時文字顏色 */
}

.test-button::before {
    background: red; /* 更改背景顏色 */
}