.container {
    padding: 40px;
    background-color: #232329; /* 與背景顏色不同的顏色 */
    border-radius: 10px; /* 可選：圓角效果 */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* 可選：陰影效果 */
    max-width: 300px;
    margin: 20px auto;
}

body {
    background: linear-gradient(45deg, #f4f4f4, #a9c0d8, #1abc9c); /* 45度角漸變 */
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
    padding: 20px;
}

h1 {
    color: #1abc9c; /* 清新的綠色 */
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center; /* 靠左對齊 */
    margin-bottom: 15px;
    letter-spacing: 2px; /* 調整字母間距 */
}

h2 {
    color: #1FAAE6; /* 清新的綠色 */
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center; /* 靠左對齊 */
    margin-bottom: 15px;
    letter-spacing: 2px; /* 調整字母間距 */
}

h3 {
    color: #FF386D; /* 清新的綠色 */
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center; /* 靠左對齊 */
    margin-bottom: 15px;
    letter-spacing: 2px; /* 調整字母間距 */
}


button, .special-button {
    will-change: transform, opacity; /* 提前告訴瀏覽器動畫屬性 */
}

/* 按鈕組的間距設定 */
.button-group {
    display: flex;
    flex-direction: column; /* 垂直排列 */
    gap: 20px; /* 按鈕間距 */
}

/* 保持現有樣式不變 */
button {
    padding: 1em 2.5em;
    border: 2px solid #1FAAE6;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: .3s;
    z-index: 1;
    font-family: inherit;
    color: #1FAAE6;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}


button::before {
    content: '';
    width: 0;
    height: 500%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #1FAAE6;
    transition: .5s ease;
    display: block;
    z-index: -1;
}

button:hover::before {
    width: 100%;
}

button:hover {
    color: #ffffff;
}

/* 為 "程式回傳登記" 按鈕設置特殊顏色 */
.special-button {
    color: #1abc9c; /* 更改文字顏色 */
    border-color: #1abc9c; /* 更改邊框顏色 */
}

.special-button:hover {
    color: #ffffff; /* 懸停時文字顏色 */
}

.special-button::before {
    background: #1abc9c; /* 更改背景顏色 */
}

/* 為 "測試" 按鈕設置特殊顏色 */
.test-button {
    color: #FF386D; /* 更改文字顏色 */
    border-color: #FF386D; /* 更改邊框顏色 */
}

.test-button:hover {
    color: #ffffff; /* 懸停時文字顏色 */
}

.test-button::before {
    background: #FF386D; /* 更改背景顏色 */
}

.dropdown {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.dropdown.programs {
    background-color: #1abc9c;
    color: white;
}
.dropdown.programs:hover {
    background-color: #16a085;
}

.dropdown.tools {
    background-color: #1FAAE6;
    color: white;
}
.dropdown.tools:hover {
    background-color: #0f8acb;
}

.dropdown.test {
    background-color: #FF386D;
    color: white;
}
.dropdown.test:hover {
    background-color: #d92455;
}